PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.r42oabn.mongodb.net/pizzadelivery?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=oibsip_super_secret_jwt_key_2026
ADMIN_EMAIL=admin@pizzadelivery.com
